body {
  background-color: burlywood;
}

.hero {
  color: black;
  background-color: #e2b86a;
  padding: 50px;
  text-align: center;
}

.sonya {
  color: black;
}

.content {
  padding: 10px 50px;
  background-color: yellow;
  margin: 50px 0;
}

.bg-example {
  background-color: burlywood;
}
.navigation {
  text-align: left;
  padding: 15px;
}
.supporting {
  font-size: larger;
}
